.counter {
    width: 4.5rem;
    background-color: var(--base-button);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.counterValue {
    color: var(--base-title);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 130%;
    width: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minus, .plus {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    color: var(--purple);
}

.minus:hover, .plus:hover {
    color: var(--purple-dark);
}