.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.75rem;
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

.text {
    font-size: 1rem;
    line-height: 130%;
    color: var(--base-text);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}